@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

/* ===== COLORS ===== */

:root{
    --lightgreen: aquamarine;
    --lightergreen: rgb(169, 248, 222);
    --lighteryellow: lightyellow;
}

/* ===== GENERAL STYLES ===== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: 'Inconsolata', monospace;
    font-weight: lighter;
    font-size: 14px;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

a::before{
    content: "> ";
}

code{
    background-color: var(--lighteryellow);
}

/* ===== HEADER ===== */

header{
    padding: 20px;
}

/* ===== MAIN ===== */

main{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* ===== SECTIONS ===== */

table{
    margin-bottom: 3rem;
    border: black solid 1px;
    border-collapse: collapse;
}

thead, td:not(td:first-of-type) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tbody, tr, td, th{
    border: black solid 1px;
}
    
td:first-of-type{
    font-size: 18px;
    width: 30%;
}

td, th{
    padding: 0.5rem;
    text-align: left;
}

span{
    font-weight: bold;
    color: blue;
}

thead{
    background-color: var(--lightgreen);
}

.thead-2-start, .thead-2-ende{
    background-color: var(--lightergreen);
}

.thead-2-start::before{
    content:'>';
}

.thead-2-ende::after{
    content:' <';
}

/* SECTIONS */

.inactive {
    display: none;
}

.active{
    display: unset;
    background-color: white;
    width: 100%;
}

/* ===== FORM ===== */

form{
    width: 100%;
    margin-bottom: 20px;
}


select{
    max-width: 500px;
    width: 50%;
    padding: 10px 15px;
    border: none;
    border-radius: unset;
    background-color: var(--lightergreen);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: black;
}